**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!frontend/
!frontend/**
frontend/.git
frontend/**/.git
frontend/node_modules
frontend/**/node_modules
frontend/build
frontend/**/build
frontend/.svelte-kit
frontend/**/.svelte-kit
frontend/.env
frontend/.env.*
frontend/**/.env
frontend/**/.env.*
frontend/.github
frontend/**/.github
frontend/docs
frontend/**/docs
frontend/*.md
frontend/**/*.md
frontend/*.spec.ts
frontend/**/*.spec.ts
frontend/*.test.ts
frontend/**/*.test.ts
frontend/vitest-setup-client.ts
frontend/.vscode
frontend/**/.vscode
frontend/.idea
frontend/**/.idea
frontend/**/*.swp
frontend/**/*.swo
frontend/**/.DS_Store
frontend/**/project-notes